@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');

.Page3
{
    padding-top: 82px;
    padding-left: 30px;
}

.Page3 > .objective1
{
    display: flex;
    justify-content: space-around;
}

.Page3 > .objective1 div p
{
    position: static;
    width: 123px;
    height: 22px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 113.34%;
    /* or 25px */
    
    
    color: #48B774;
}

.Page3 > .objective1 div h1
{
    position: static;
    width: 518px;
    height: 150px;
    left: 0px;
    top: 36.81px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46.2548px;
    line-height: 113.34%;
    /* or 52px */
    
    
    color: #2E2E2E;

    margin-bottom: -20px;
}

.Page3 > .objective1 div > .firstpart
{
    display: flex;
    margin-bottom: 10px;
}

.Page3 > .objective1 div > .firstpart > .number p
{
    position: static;
    width: 62px;
    height: 53px;
    font-family: 'Tourney', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 46.518px;
    line-height: 113.34%;
}

.Page3 > .objective1 div > .firstpart > .text
{
    margin-left: 23px;
}

.Page3 > .objective1 div > .firstpart > .text h3
{
    position: static;
    width: 98px;
    height: 24.27px;
    left: 0px;
    top: 0px;
    margin-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 21.3027px;
    line-height: 113.34%;
    /* identical to box height, or 24px */
    
    
    color: #2E2E2E;
}

.Page3 > .objective1 div > .firstpart > .text p
{
    position: static;
    width: 367px;
    height: 35px;
    left: 0px;
    top: 34.27px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16.7378px;
    line-height: 113.34%;
    margin-top: -10px;
    color: #808181;
}