@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

body
{
    background: #ECF8F4;
}

.Page1 > .page > h1
{
    position: absolute;
    width: 612.39px;
    height: 216.4px;
    left: 73.88px;
    top: 190.92px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-size: 67.3782px;
    line-height: 76px;
    
    color: #2E2E2E;
}

.Page1 >.page > p
{
    position: absolute;
    width: 559px;
    height: 72px;
    left: 74px;
    top: 469px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15.8514px;
    line-height: 162.34%;
    color: #6F7070;   
}

.Page1 >.page > .start
{
    margin-top: 510px;
    margin-left: 74px;
    display: flex;
}

.Page1 >.page > .start button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18.8296px;
    font-family: 'Source Sans Pro', sans-serif;
    position: static;
    width: 170.86px;
    height: 65.09px;
    left: 0px;
    top: 0px;
    font-size: 14.0307px;
    color: #FFFFFF;
    border : 0;
    background: #48B774;
    border-radius: 64.3107px;
    cursor: pointer;
}

.Page1 >.page > .start p img
{
    display: inline-block;
    margin-left: 36px;
    margin-top: 8px;
}

.Page1 >.page > .start p span
{
    position: static;
    width: 143.02px;
    height: 13.44px;
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 11.8446px;
    line-height: 18px;
    margin-left: 75px;
    margin-top: -18px;
    align-items: center;
    display: flex;
    color: #5C5C5C;
}

.Page1
{
    display: flex;
}

.Page1 > .images
{
    background-image: url("../images/groupe.png");
    position: absolute;
    width: 700px;
    height: 749px;
    margin-left: 819.59px;
}

.social
{
    margin-top: 175px;
    display: flex;
    margin-left: 400px;
    justify-content: space-around;    
    background: #FEFFFF;
    border-radius: 18px 0 0 0;
}

.social p img
{
    margin-top: 20px;
    width: 167px;
}

@media screen and (max-width : 1440px)
{
    .Page1 > .images
    {
        margin-left: 700px;
    }
}

@media screen and (max-width : 1320px)
{
    .Page1 > .images
    {
        margin-left: 610px;
    }
}

@media screen and (max-width : 1230px)
{
    .Page1 > .images
    {
        display: none;
    }

    .social
    {
        margin-left: 0;
    }
}
@media screen and (max-width : 770px)
{
    .social p img
    {
        width: 107px;
    }
}

@media screen and (max-width : 720px)
{
    .Page1 > .page h1
    {
        font-size: 50px;
        width: 550px;
    }
}

@media screen and (max-width : 670px)
{
    .Page1 > .page h1
    {
        width: 500px;
        margin-left: -10px;
    }

    .Page1 >.page > p
    {
        margin-top: 70px;
        width: 420px;
        margin-left: -10px;
    }

    .Page1 >.page > .start
    {
        margin-top: 570px;
    }
}

@media screen and (max-width : 582px)
{
    .social p img
    {
        width: 90px;
    }

    .Page1 > .page h1
    {
        font-size: 50px;
        width: 400px;
    }

    .Page1 >.page > p
    {
        width: 400px;
    }
}

@media screen and (max-width : 415px)
{
    .social p img
    {
        display: none;
    }

    .Page1 > .page h1
    {
        font-size: 35px;
    }

    .Page1 > .page h1 , .Page1 > .page p
    {
        margin-left: -40px;
        width: 280px;
    }

    .Page1 >.page > .start
    {
        margin-left: 20px;
    }

    .Page1 > .page p
    {
        margin-top: -10px;
    }
    .Page1 >.page > .start button
    {
        padding: 18.8296px;
        width: 120.86px;
    }

    .Page1 >.page > .start p 
    {
        margin-top: 20px;
       margin-left: -10px;
    }

    .Page1 >.page > .start p span
    {
        margin-left: 60px;
    }
}

@media screen and (max-width : 376px)
{
    .Page1 > .page h1
    {
        width: 300px;
        font-size: 30px;
    }

    .Page1 > .page p
    {
        width: 300px;
        font-size: 13px;
    }

    .Page1 >.page > .start 
    {
        width: 5px;
        margin-left: 10px;
    }
}