.Page4
{
    background-color: white;
    padding-top: 127px;
    padding-left: 143.56px;
    padding-bottom: 330px;
}

.Page4 > .why p span
{
    width: 235px;
    height: 19px;
    margin-left: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 113.34%;
    color: #48B774;
}

.Page4 > .why h1
{
    width: 557px;
    height: 92px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46.25px;
    line-height: 113.34%;
    color: #2E2E2E;
    margin-top: -10px;
    margin-bottom: 50px;
}

.Page4 > .why p
{
    width: 554px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13.7548px;
    line-height: 200%;
    /* or 28px */
    
    
    color: #808181;
}

.Page4 > .groupe2
{
    background-image: url("../images/groupe2.png");
    position: absolute;
    width: 689.06px;
    height: 609.63px;
    left: 698px;
    top: 2620.27px;
}

@media screen and (max-width : 1385px)
{
    .Page4
    {
        padding-left: 50px;
    }

    .Page4 > .groupe2
    {
        left: 608px;
    }
}

@media screen and (max-width : 1290px)
{
    .Page4 > .groupe2
    {
        width: 689.06px;
        height: 609.63px;
        left: 558px;
        top: 2620.27px;
    }
}

@media screen and (max-width : 1240px)
{
    .Page4 > .groupe2
    {
        background-image: url("../images/woman.png");
        width: 660.06px;
        height: 600.63px;
        left: 558px;
        top: 2620.27px;
    }
}

@media screen and (max-width : 1160px)
{
    .Page4 > .groupe2
    {
        width: 660.06px;
        height: 600.63px;
        left: 558px;
        top: 3820.27px;
    }
}

@media screen and (max-width : 1080px)
{
    .Page4 > .groupe2
    {
        width: 689.06px;
        height: 600.63px;
        left: 508px;
        top: 3820.27px;
    }
}

@media screen and (max-width : 1027px)
{
    .Page4 > .groupe2
    {
        display: none;
    }

    .Page4
    {
        padding-left: 143px;
    }
}

@media screen and (max-width : 720px)
{
    .Page4 
    {
        padding-left: 50px;
    }

    .Page4 > .why h1 , .Page4 > .why p
    {
        width: 500px;
    }

    .Page4 > .why p
    {
        margin-top: 70px;
    }
}

@media screen and (max-width : 565px)
{
    .Page4 > .why p
    {
        width: 400px;
    }

    .Page4 > .why h1
    {
        font-size: 40px;
        width: 400px;
    }
}

@media screen and (max-width : 415px)
{
    .Page4 > .why p
    {
        width: 300px;
    } 

    .Page4 > .why h1
    {
        font-size: 35px;
        width: 300px;
    }
}

@media screen and (max-width : 361px)
{
    .Page4 > .why p
    {
        width: auto;
    } 

    .Page4 > .why h1
    {
        font-size: 35px;
        width: 300px;
    }
}