@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.Page6
{
    background-color: white;
    padding-top: 216px;
    padding-left: 172px;
    padding-bottom: 150px;
}

.Page6 p
{
    width: 139px;
    height: 21px;
    left: 172px;
    top: 4980px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 113.34%;
    /* or 25px */
    
    
    color: #48B774;
}

.Page6 h1
{
    position: static;
    width: 450px;
    height: 126px;
    left: 0px;
    top: 0px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46.25px;
    line-height: 113.34%;
    
    color: #2E2E2E;

    margin-bottom: 45px;
}

.Page6 div
{
    display: flex;
}

.Page6 div > .clients
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20.3945px;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 28px;
    transition: 1s;
    margin-left: -10px;
}

.Page6 div  :hover
{
    background: #FFFFFF;
    box-shadow: 16px 70px 72px 22.8999px rgba(0, 0, 0, 0.04);
}

.Page6 div > .clients :hover
{
    box-shadow: none;
}

.Page6 div > .clients i
{
    position: static;
    left: 43.15%;
    right: 13.7%;
    top: 100%;
    bottom: -100%;
    font-size: 30px;
    color: #48B774;
}

.Page6 div > .clients p
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16.6997px;
    line-height: 25px;
    width: 400px;
    color: #5E5E5E;
    margin-bottom: 106px;
}

.Page6 div > .clients > .personne img
{
    position: static;
    width: 60px;
    height: 60px;
}

.Page6 div > .clients .personne
{
    display: flex;
}

.Page6 div > .clients > .personne p
{
    width: 75.87px;
    height: 24.08px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17.088px;
    line-height: 138%;
    /* or 24px */
    
    margin-left: 13px;
    color: #494949;

    margin-top: 10px;
}

.Page6 div > .clients > .personne p span
{
    width: 69.86px;
    height: 10.25px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 9.47597px;
    line-height: 14px;
    
    color: #9F9DAF;
}

.Page6 div > .clients p i 
{
    color: #FFC954;
    border-radius: 0.18155px;
    margin-left: 5px;
    font-size: 20px;
    
}


@media screen and (max-width : 1511px)
{
    .Page6
    {
        padding-left: 100px;
    }
}

@media screen and (max-width : 1440px)
{
    .Page6
    {
        padding-left: 50px;
    }
}

@media screen and (max-width : 1390px)
{
    .Page6 div > .clients
    {
        padding: 15px;
    }
}

@media screen and (max-width : 1357px)
{
    .Page6 div > .clients
    {
        padding: 6px;
    }
}

@media screen and (max-width : 1303px)
{
    .Page6 div > .clients
    {
        padding: 3px;
    }
}

@media screen and (max-width : 1286px)
{
    .Page6 div 
    {
        display: block;
        margin-top: 100px;
    }

    .Page6 div > .clients
    {
        margin-left: 100px;
    }
}

@media screen and (max-width :600px)
{
    .Page6 h1
    {
        margin-left: -10px;
        width: 400px;
    }

    .Page6 div > .clients
    {
        margin-left: 0px;
    }
}

@media screen and (max-width : 415px)
{
    .Page6 h1
    {
        font-size: 40px;
        width: 300px;
    }

    .Page6 div > .clients p
    {
        width: 300px;
        margin-bottom: 50px;
    }

    .Page6 div > .clients p i 
    {
        margin-top: 50px;
    }

}

@media screen and (max-width : 361px)
{
    .Page6
    {
        width: 330px;
    }
}

@media screen and (max-width : 321px)
{
    .Page6
    {
        width: 336px;
    }
}