@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

.Page2
{
    background-color: white;
    margin-top: 0px;
    padding-left: 139px;
}

.Page2 > .phonenumber
{
    margin-top: -20px;
    padding-top : 90px;
    text-align: right;
    padding-right: 28px;
}

.Page2 >.hello h2
{
    position: static;
    height: 21.79px;
    margin-top: 130px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 113.34%;
    
    
    color: #48B774;
}

.Page2 > .hello h1
{
    position: static;
    width: 575.16px;
    height: 52.29px;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46.2548px;
    line-height: 113.34%;
    
    color: #2E2E2E;
    
}

.Page2 > .hello > .metier
{
    display: flex;
    transition: 1s;
}

.Page2 > .hello > .metier section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32.6746px;
    position: static;
    width: 334.21px;
    height: 349.15px;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 86px;
    transition: 1s;
}

.Page2 > .hello > .metier section h3
{
    position: static;
    height: 28.65px;   
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24.5919px;
    line-height: 37px;
}

.Page2 > .hello > .metier section p
{
    width: 270.23px;
    height: 49.55px;
    top: 44.86px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10.0801px;
    line-height: 165%;
    color: #808181;
}

.Page2 > .hello > .metier section button
{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16.2105px;
    margin-top: 240px;
    position: absolute;
    width: 148.44px;
    height: 50.41px;
    border: 0;
    background-color: white;
}

.Page2 > .hello > .metier section button i
{
    margin-left: 10px;
}

.Page2 > .hello > .metier :hover 
{
    box-shadow: 16px 70px 76.3328px 22.8999px rgba(0, 0, 0, 0.03);
    border-radius: 20.339px;
    
}

.Page2 > .hello > .metier section :hover
{
    box-shadow: none;
}

.Page2 > .hello > .metier section p img:hover
{
    box-shadow: none;
    border-radius: 0;
}

.Page2 > .hello > .metier section button:hover
{
    box-shadow: none;
    background: #48B774;
    border-radius: 39.4888px;
    color: white;
}

@media screen and (max-width : 1163px)
{
    .Page2 > .hello > .metier
    {
        margin-left: -150px;
    }
}

@media screen and (max-width : 1014px)
{
    .Page2 > .hello > .metier
    {
        display: block;
        margin-left: 0;
    }
}

@media screen and (max-width : 740px)
{
    .Page2 > .hello h1
    {
        width: 500px;
    }

    .Page2
    {
        padding: 0;
    }

    .Page2 >.hello h2 , .Page2 >.hello h1 
    {
        margin-left: 50px;
    }

    .Page2 > .hello > .metier section
    {
        margin-left: 30px;
    }
}

@media screen and (max-width : 770px)
{
    .Page2 > .phonenumber p img
    {
        width: 70px;
    }
}

@media screen and (max-width : 582px)
{
    .Page2 > .phonenumber p img
    {
        width: 50px;
    }
}

@media screen and (max-width : 570px)
{
    .Page2 > .hello h1
    {
        width: 400px;
    }
}

@media screen and (max-width : 415px)
{

    .Page2 >.hello h2
    {
        margin-top: 0px;
    }

    .Page2 > .hello h1
    {
        width: 300px;
        font-size: 35px;
    }

    .Page2 > .hello > .metier section
    {
        width: 300px;
    }

    .Page2 > .phonenumber p img
    {
        display: none;
    }
}

@media screen and (max-width : 390px)
{
    .Page2
    {
        padding: 0;
    }
    .Page2 > .hello h1
    {
        width: 250px;
        font-size: 35px;
    }

    .Page2 > .hello > .metier section
    {
        width: 250px;
        
    }
}

@media screen and (max-width : 321px)
{
    .Page2
    {
        width: 380px;
    }
}